extends layout
block cssPage
	link(rel='stylesheet',href='css/theme/main.css')
block content
	h1 Pomodoro by Xogost in Node js
	input#minutos
	input#segundos
	input(type='button', value='Start', class='btn')#pomodoro